[Unit]
Description=SNP bot

[Service]
User=snp
Group=snp
WorkingDirectory=/home/snp/snp
ExecStart=/usr/bin/java -jar snp-1.0.jar snp.log

[Install]
WantedBy=multi-user.target
